$colors: (
    'green': #9dff00,
    'purple': #7A5FFF,
    'black': #141414,
    'dark-purple': #6a44a7,
    );
html {
  background-image: url('../man-backgr.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
 }

 @media only screen and (max-width: 767px){ 
  html {
    background-image: url('../man-backgr-mobile.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%
  } 
  p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 30px;
  margin-inline-end: 30px;
  }
 }

 @media (max-width: 767px) {
  img {
    height:45px;
    width: 50px;
  } 
 }

.header {
    display: flex;
    align-items: center;
    margin: 0.5em;
    margin-bottom: 3em;
  }

.logo {
   font-family: 'Amatic SC', cursive;
   font-size: 3em;
   flex: 1;
   text-decoration: none;
   color: black;
   margin-top: 0.3em;
   margin-left: 0.3em;
  }
 
 .menu_list {
    display: flex;
    justify-content: space-around;
    font-family: 'Exo 2';
    font-size: 1.5rem;
    flex: 1;
 }

@media  (max-width: 767px){
  .menu_list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    font-family: 'Exo 2';
    font-size: 1.2rem;
    flex: 1;
  } 
}

  .not-active {
    text-decoration: none;
    color: #6a44a7;
  }
  
  .is-active {	
    color: transparent;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-shadow: 0 0 map_get($colors, 'dark-purple'); 
    vertical-align: bottom;
  
    &:after {
      background: linear-gradient(
        to bottom,
        rgba( map_get($colors, 'dark-purple'), 0.8),
        rgba( map_get($colors, 'dark-purple'), 0.8)
      ) center 1.08em / 100% 2px no-repeat;
  
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 400%;
      will-change: transform;
      z-index: -1;
    }
  
    &:hover:after {
      animation: underline-gradient 5s linear infinite;
      background-image: linear-gradient(
        90deg, 
        rgba( map_get($colors, 'purple'), 0.8) 15%, 
        rgba( map_get($colors, 'green'), 0.6) 35%,  
        rgba( map_get($colors, 'purple'), 0.8) 85%
      );
    }
  }

  @keyframes underline-gradient { 
    0%{
      transform: translate3d(0%, 0%, 0);
    }
    100%{
      transform: translate3d(-75%, 0%, 0);
    }
  }

