.text {
   margin: 0;
   padding-left: 10%;
   padding-right: 10%;
   text-align: center;
   font-family: 'Amatic SC', cursive;
   font-size: 3em;
   color: #6a44a7;
&:hover {
   margin: 0;
   text-align: center;
   font-family: 'Amatic SC', cursive;
   font-size: 3em;
   color: #44a75d;
    }
}

.text-container {
   margin-top: 60px;
}

.icons {
   text-align: center;
   margin-top: 30px;
   font-family: 'Amatic SC', cursive;
   font-size: 3em;
   color: #6a44a7;
}

.links-icons {
   margin-top: 0.5em;
   padding-left: 30px;
   padding-right: 30px;
}
.wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.button {
   margin-top: 30px;
   width: 250px;
   box-shadow: 0px 10px 14px -7px #6a44a7;
   background-color: transparent !important;
   border: 1.7px solid #6a44a7;
   border-radius: 5px;
}
.button:hover {
   color: #6a44a7 !important;
   font-weight: 500 !important;
   letter-spacing: 3px;
   background: none;
   box-shadow: 0px 5px 40px -10px #6a44a7;
   -webkit-box-shadow: 0px 5px 40px -10px #6a44a7;
   -moz-box-shadow: 0px 5px 40px -10px #6a44a7;
   border-radius: 5px;
   transition: all 0.3s ease 0s;
}

.my-work-btn {
   display: block;
   text-align: center;
   padding: 10px;
   text-decoration: none;
   text-transform: uppercase;
   font-family: 'Exo 2';
   font-size: 1.5rem;
}


@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.text-container, .icons, .wrapper {
   opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}