.projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.project-container {
    width: 340px;
    height: 360px;
}

@media (max-width: 767px){
    .projects-container {
        flex-direction: column;
        justify-content: space-between;
    }
    .project-container {
        margin-bottom: 25%;
    }
}

.projects {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    position: relative;
    height: 360px;
    width: 340px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}

#chat {
    background-image: url('../chat.jpg');
}

#charts {
    background-image: url('../charts-backgr.jpg');
}

.links{
    position: relative;
    bottom: 10px;
    width: 80px;
    height: 20px;
    box-shadow: 0px 10px 14px -7px #e4e4e4;
    text-decoration: none;
    background-color: #e4e4e4 !important;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    font-family: 'Exo 2';
    font-size: 1rem;
    border: 1.5px solid #e4e4e4;
    border-radius: 10px;
}

.links:hover {
    color: #6a44a7 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    box-shadow: 0px 5px 40px -10px #6a44a7;
    -webkit-box-shadow: 0px 5px 40px -10px #6a44a7;
    -moz-box-shadow: 0px 5px 40px -10px #6a44a7;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    }

.h1 {
    text-align: center;
    font-family: 'Exo 2';
    font-size: 1.3rem;
    color: #6a44a7;
}


@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

#projects-container {
   opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;

  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

